@font-face {
    font-family: "WapuroMincho";
    src: url("/myblog/fonts/wapuro-mincho.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

html,
body,
body * {
    font-family: "WapuroMincho", serif !important;
}

body {
    background-image: url("/myblog/images/background.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: #0000ff;
}

a {
    color: #0066cc;
}

/* スマホ・タブレット */
@media (max-width: 1024px) {
    body {
        background-image: url("/myblog/images/background2.webp");
    }
}